@model IEnumerable<ProyectoIntegrador.Models.InstalacionesDeportiva>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreInstalacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoCanchaInstalacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UbicacionInstalacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisponibilidadInstalacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreInstalacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoCanchaInstalacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UbicacionInstalacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisponibilidadInstalacion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdInstalacionDeportiva">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdInstalacionDeportiva">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdInstalacionDeportiva">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
