@model ProyectoIntegrador.Models.Recurso

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Recurso</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreRecurso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreRecurso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionRecurso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionRecurso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadRecurso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadRecurso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostoRecurso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostoRecurso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisponibilidadRecurso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisponibilidadRecurso)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdRecurso">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
